*{
    margin:0;
    padding:0;
   
}

html,
body{
    width:100%;
    overflow-x:hidden;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    width:100%;
    padding:15px 40px;

    background-color:rgb(148,220,196);
        border: 5px solid  rgb(66, 203, 157);
      border-radius:20px;
    box-shadow:0 10px 25px  rgb(61, 217, 165);

    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    
}
.header-image{
    width:60px;
    height: 50px; 
    padding: 6px;
    margin:30px;
}
.header-left{
    margin-top: 0px;
}
.header-right{
    margin:50px;
}
.header-left .leaf-icon{
    width:200px;


}
.header .farm{
    font-size: 20px;

  
    
}
.farm .h2{
    font-size: 60px;

    
}
.farm .p{
    font-size:30px;
    font-weight: 200px;
}

.header-left{
    display: flex;
}

.nav{
    margin-top:5px;
    display: flex;
    padding:  0px 30px;
    justify-content: space-evenly;
    gap:70px;
   
   

}
.nav a{
     text-decoration: none;
     font-size: 40px;
     padding: 60px;
     gap:30px;
     color: rgb(102, 4, 4);
     font-weight: 600;
     justify-content: space-evenly;

     
}

.dropdown{
    position:relative;
}

.dropdown a{
    text-decoration:none;
    color:#000000;
    font-weight:600;
    padding:10px;
    display:block;
}

.dropdown-content{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    min-width:300px;
    background: rgb(22, 156, 113);
    box-shadow:0 5px 15px rgba(220, 214, 40, 0.15);
    border-radius:10px;
    z-index:1000;
}

.dropdown-content a{
    
    color:#f7f7f7;
    transition:0.3s;
}

.dropdown-content a:hover{
    background: rgb(148, 220, 196);
    padding: 0px 60px;
    color:#fff;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.nav > .dropdown > a:hover{
    color:#0e623b;
}
.slider-1{
    width:100%;
    margin:300px 0px;
    overflow:hidden;
    position:relative;
}

.slides-1{
    display:flex;
    width:500%;
    height:1000px;
    animation:slide 20s infinite;
}

.slide-1{
    width:20%;
    position:relative;
}

.slide-1 img{
    width:100%;
    height:1000px;
    object-fit:cover;
    display:block;
}

/* Dark Overlay */

.slide-1::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
}

/* Text */

.content-1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:white;
    z-index:10;
    width:100%;
}

.content-1 p{
    font-size:40px;
    font-style:italic;
    margin-bottom:10px;
    color: white;
}

.content-1 h1{
    font-size:100px;
    margin-bottom:15px;
}

.content-1 h2{
    font-size:60px;
    margin-bottom:30px;
}

.content-1 button{

    padding:15px 45px;
    background:#ffd600;
    border:none;
    border-radius:6px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

.content-1 button:hover{
    background:#eaaf1b;
    color: white;
}


@keyframes slide{

0%,20%{
transform:translateX(0%);
}

25%,40%{
transform:translateX(-20%);
}

45%,60%{
transform:translateX(-40%);
}

65%,80%{
transform:translateX(-60%);
}

85%,100%{
transform:translateX(-80%);
}

}
/* about */

.about{
    width:100%;
    margin:5px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
}

.left img{
    width:800px;
    height:600px;
    border-radius: 50px;
    margin-left: 500px;
   
}

.right{
    margin-right: 500px;
    padding: 250px;

   
}

.right h3{
    color:#7DA65A;
    font-family:'Caveat', cursive;
    font-size:40px;
    margin-bottom:10px;
}

.right h1{
    font-size:70px;
    font-weight:800;
    letter-spacing:3px;
    margin-bottom:30px;
}

.right p{
    color:#666;
    line-height:35px;
    font-size:22px;
    margin-bottom:40px;
    position: relative;
    
}

.founder{
    display:flex;
    align-items:center;
}

.arrow{
    width:60px;
    height:60px;
    background:#f3dc42;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    margin-right:20px;
    cursor:pointer;
}

.name h4{
    font-size:24px;
    font-weight:600;
}

.name span{
    color:#7DA65A;
    font-style:italic;
    font-size:20px;
}


.features{

    width:100%;
    min-height:800px;

    background:url("assets/farm.jpg") center center/cover no-repeat;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;

}

.overlay{

    position:absolute;
    inset:0;
    background:rgba(34, 37, 50, 0.274);

}

.container{

    width:85%;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:40px;
    position:relative;
    z-index:2;

}

.box{

    width:25%;
    position:relative;
    color:white;

}

.number{

    position:absolute;
    top:40px;
    left:0;
    font-size:120px;
    font-weight:bold;
    color:rgba(255,255,255,.06);
}

.icon{

    font-size:50px;
    color:#b8d64c;
    margin-bottom:40px;
}

.box h2{

    font-size:50px;
    color: white;
    font-weight:bold;
    margin-bottom:18px;
    letter-spacing:.5px;

}

.box p{

    color:#f2f2f2;
    font-size:30px;
    line-height:1.8;

}

.tabs{
    width:500px;
    margin:auto;
    text-align:center;
}

.tabs button{
    background:none;
    border:none;
    font-size:18px;
    font-weight:bolder;
    color:#52a48c;
    cursor:pointer;
    margin:0 25px;
    padding:5px 0;
}

.tabs button.active{
    color:#131313;
}

.line{
    width:100%;
    height:10px;
    background:#ddd;
    margin-top:10px;
    border-radius:20px;
    position:relative;
}

.indicator{
    width:90px;
    height:100%;
    background:  rgb(66, 203, 157);
    border-radius:20px;
    position:absolute;
    left:0;
    transition:0.4s;
}

.content{
    text-align: center;
}

.grid{
    margin:40px;
    display:grid;
    justify-content:center;
    gap:35px;
   grid-template-columns:repeat( 4,1fr);
}


.card{
    width:600px;
    background:rgb(240, 240, 240);
    border-radius:8px;
    padding:25px;
    position:relative;
    text-align:center;
    transition:.3s;
    height:600px;
    border: 5px solid  rgb(202, 231, 222);
     
  
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 20px rgba(168, 71, 71, 0.12);
    background-color:rgb(148, 220, 196);
    border-radius:30px;
    box-shadow:0 10px 25px  rgb(61, 217, 165);
}

.card img{
    width:600px;
    height:400px;
    object-fit:contain;
    border-radius: 20px;
}

.card h2{
    margin-top:15px;
    font-size:20px;
    font-weight:500;
}

.price{
    margin-top:12px;
}

.old{
    color:#3e0c0c;
    text-decoration:line-through;
    margin-right:10px;
    font-size:35px;
    font-weight: bold;
}

.new{
    color:rgb(21, 135, 97);
    font-weight:bolder;
    font-size:35px;
}



.badge{
    position:absolute;
    top:60px;
    right:40px;
    padding:8px 15px;
    color:#fff;
    border-radius:6px;
    font-size:30px;
    font-weight:bold;
}

.sale{
    background:#db2d06;
}

.new{
    background:#34afe8e1;
    color: white;
}

.add-cart{
    display: flex;

    align-items: center;
    gap: 8px;
    background: #f0e048;
    color: rgb(11, 11, 11);
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-left:200px
}

.add-cart:hover{
    background: #ffea29;
}


.testimonial{

    width:100%;
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:url("assets/lemon.avif");
    background-size:cover;
    background-position:center;

    padding:80px 20px;

}

.small-title{

    color:#7fb069;
    font-size:45px;
    font-style:italic;
    margin-bottom:10px;
    font-weight:bold;

}

.testimonial h1{

    font-size:60px;
    margin-bottom:60px;

}

.testimonial-container{

    display:flex;
    align-items:center;
    gap:40px;

}

.card1{

    width:1060px;

    background:#fff;

    border-radius:40px;

    padding:60px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.12);

    transition:.4s;

}

.card1:hover{

    transform:translateY(-10px);

}

.quote{

    color:#b8d5b0;

    font-size:150px;

    margin-bottom:30px;

}

.review{

    font-size:30px;

    color:#777;

    line-height:35px;

    margin-bottom:40px;

}

.client{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

}

.client img{

    width:100px;

    height:100px;

    border-radius:50%;

}

.client h3{

font-size:40px;

}

.client span{

    color:#7fb069;
    font-size: 40px;
    font-style:italic;

}

.offer{
    display: flex;
    justify-content: center;
   
   
}

.offer img{
  
    width:1200px;
    height:1050px;
      padding:20px 50px;
}

.offer1 img{
    width:1400px;
    height:1200px;
}
.offer2 img{
    width:700px;
    height:580px
}



.overlay-text {
  position:relative; /* Positions text over the image */
  bottom: 380px;           /* Moves text to the middle vertically */
  left: 50%;          /* Moves text to the middle horizontally */
  transform: translate(-50%, -50%); /* Perfectly centers the text box */
  
  /* Styling for visibility */
  color: rgba(209, 234, 51, 0.74);
  font-size: 60px;
  font-weight: bold;
   /* Semi-transparent background */
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}


.faq-section{
    width:90%;
    margin:80px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

/*====================
LEFT SLIDER
=====================*/

.slider{
    width:48%;
    background:#fafafa;
    overflow:hidden;
    position:relative;
    padding:30px;
}

.slides{
    position:relative;
    height:650px;
}

.slide{
    position:absolute;
    width:100%;
    opacity:0;
    transition:.7s;
    text-align:center;
}

.slide.active{
    opacity:1;
}

.slide img{
    width:100%;
    height:450px;
    object-fit:contain;
}

.slide h2{
    margin-top:25px;
    font-size:42px;
    font-weight:700;
    color:#222;
}

.price{
    margin-top:15px;
}

.old-1{
    color:#999;
    text-decoration:line-through;
    font-size:30px;
    margin-right:10px;
}

.new-1{
    color:#78a548;
    font-size:30px;
    font-weight:700;
}

.dots{
    display:flex;
    justify-content:center;
    margin-top:25px;
}

.dot{
    width:14px;
    height:14px;
    border-radius:50%;
    background:#ccc;
    margin:0 8px;
    cursor:pointer;
    transition:.4s;
}

.dot.active{
    background:#78a548;
}

/*====================
RIGHT SIDE
=====================*/

.faq{
    width:50%;
}

.faq h4{
    color:#78a548;
    font-size:38px;
    font-family:'Caveat',cursive;
    margin-bottom:10px;
}

.faq h1{
    font-size:72px;
    margin-bottom:45px;
    font-weight:800;
}

.accordion .item{
    border-bottom:1px solid #ddd;
    padding:25px 0;
}

.question{
    display:flex;
    align-items:center;
    cursor:pointer;
}

.icon{
    width:55px;
    height:55px;
    border-radius:50%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:25px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    color:#78a548;
    transition:.4s;
}

.item.active .icon{
    background:#f3d94f;
    color:#000;
}

.question h3{
    font-size:34px;
    font-weight:500;
}

.answer{
    display:none;
    padding-left:80px;
    margin-top:25px;
    color:#777;
    line-height:1.8;
    font-size:22px;
}

.item.active .answer{
    display:block;
}

/*====================
RESPONSIVE
=====================*/

@media(max-width:992px){

.faq-section{

flex-direction:column;

}

.slider,
.faq{

width:100%;

}

.faq h1{

font-size:45px;

}

.question h3{

font-size:24px;

}

.slide h2{

font-size:28px;

}

.old,.new{

font-size:22px;

}

}


/* Bottom Logos */

.brands{
    width:1200px;
    margin:70px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.brands img{
    width:250px;
   padding: 50px;

}

.blog-section{
    width:100%;
    margin:70px auto;
    text-align:center;
}

.blog-section h4{
    color:#7cae61;
    font-family:cursive;
    font-size:30px;
}

.blog-section h1{
    font-size:55px;
    margin-bottom:40px;
}

.slider-container-1{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
}

.blog-slider{
    overflow:hidden;
    width:100%;
}

.blog-track{
    display:flex;
    transition:0.5s ease;
}

.blog-card{
    min-width:310px;
    margin:0 10px;
}

.blog-card img{
    width:100%;
    height:330px;
    object-fit:cover;
}

.blog-card h3{
    font-size:22px;
    margin:20px 0 10px;
    line-height:1.4;
}

.blog-card p{
    color:gray;
}

.nav-btn{
    width:45px;
    height:45px;
    border:none;
    background:white;
    cursor:pointer;
    font-size:28px;
    border-radius:50%;
    box-shadow:0 0 8px rgba(0,0,0,.2);
}

.nav-btn:hover{
    background:#6ab04c;
    color:white;
}





.team{

    position:relative;
    width:100%;
    padding:80px 8%;
    background:url("assets/team-bg.jpg") center/cover;
}

.heading{

    text-align:center;
    margin-left:-500px;
    margin-bottom:60px;

}

.heading span{

    color:#7fa86d;
    font-family:"Caveat",cursive;
    font-size:42px;
    font-weight:bold;
}

.heading h1{

    margin-top:10px;
    font-size:70px;
    font-weight:700;
    letter-spacing:3px;
}

.team-container{

    display:flex;
    justify-content:center;
    gap:100px;
   
}

.member{

    position:relative;
    right: 300px;
}

.member img{

    width:800px;
}
.info-card{
    position:absolute;
    left:50%;
    bottom:20px;
    transform:translate(-50%,30px);

    width:320px;
    background:#fff;
    text-align:center;
    padding:30px;
    border-radius:8px;
    box-shadow:0 10px 20px rgba(0,0,0,.15);

    opacity:0;
    visibility:hidden;

    transition:.5s;
}

.triangle{

    position:absolute;

    width:40px;

    height:40px;

    background:#fff;

    top:-18px;

    left:50%;

    transform:translateX(-50%) rotate(45deg);

}

.info-card h3{

    font-family:"Caveat",cursive;

    color:#9d9d9d;

    font-size:36px;

    margin-bottom:10px;

}

.info-card h2{

    font-size:35px;

    font-weight:700;

    margin-bottom:10px;

}

.info-card h4{

    color:#7fa86d;

    letter-spacing:2px;

    margin-bottom:30px;

}

.social {

    display:flex;

    justify-content:center;

    gap:28px;

}
.info :hover{
     color:#6ca44c;
    transform:translateY(-5px);
}

.social i{

    font-size:28px;

    cursor:pointer;

    transition:.4s;
}

.social i:hover{

    color:#6ca44c;
    transform:translateY(-5px);
}

.member:hover img{
    transform:scale(1.08);
}

.member:hover .info-card{
    opacity:1;
    visibility:visible;
    transform:translate(-50%,0);
}


.map-container{
    width:100%;
    margin:50px auto;
    border: 5px solid  rgb(61, 217, 165);
    border-radius:30px;
    box-shadow:0 10px 25px  rgb(61, 217, 165);
}

.map-container iframe{
    width:100%;
    height:450px;
    border:none;
}






/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.container-3{
    width:100%;
    max-width:900px;
height:1000px;
    margin: 0px auto;
    background:rgb(177, 212, 201);
    padding:35px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

form{
    background:#ffffff;
    height: 850px;
    padding:50px;
    border-radius:30px;
    box-shadow:0 10px 25px  rgb(61, 217, 165);
}

h2{
    text-align:center;
    color: rgb(66, 203, 157);
    margin-bottom:8px;
    font-size:50px;
}

p{
    text-align:center;
    color: rgb(15, 105, 75);
    margin-bottom:25px;
    font-size: 20px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:6px;
    font-weight:800;
    font-size: 20px;
    color:rgb(66, 203, 157);
}

input,
textarea,
select{
    width:100%;
    padding:12px;
    border:1px solid rgb(66, 203, 157);
    border-radius:8px;
    outline:none;
    font-size:20px;
    transition:0.3s;
}

.error{
    color:red;
    font-size:14px;
    display:block;
    margin-top:5px;
    margin-bottom:5px;
}

input,
textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

input:focus,
textarea:focus{
    outline:none;
}
textarea{
    resize:none;
    height:90px;
}

input:focus,
textarea:focus,
select:focus{
    border-color: rgb(35, 160, 118);
    box-shadow:0 0 5px  rgb(66, 203, 157);
}

.checkbox{
    display:flex;
    align-items:center;
    margin-top:20px;
}

.checkbox input{
    width:18px;
    height:18px;
    margin-right:10px;
}

.checkbox label{
    margin:0;
    font-weight:500;
}

.formbtn2{
    width:100%;
    margin-top:25px;
    padding:13px;
    background: rgb(66, 203, 157);
    color:#fff;
    border:none;
    border-radius:8px;
    font-size:25px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}
.formbtn2:hover{
    background:rgb(15, 174, 121);
}

@media(max-width:600px){

    body{
        padding:15px;
    }

    form{
        padding:25px;
    }

    h2{
        font-size:24px;
    }
}



.footer{
    width:100%;
    background:rgb(148,220,196);
    color:#222;
    margin-top:40px;
    padding:20px;
    background-color: rgb(148, 220, 196);
    border: 5px solid  rgb(66, 203, 157);
      border-radius:20px;
    box-shadow:0 10px 25px  rgb(61, 217, 165);
}



.footer-container{
    width:100%;
    display:grid;
    grid-template-columns:2fr 1fr 1.5fr 1.5fr;
    gap:60px;
    align-items:flex-start;
    padding: 0px;
}

.footer-box{
    display:flex;
    flex-direction:column;
}

.footer-logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.footer-logo img{
    width:65px;
    height:65px;
}

.footer-logo h2{
    font-size:38px;
    margin:0;
    color:#2e7d32;
}

.footer-logo p{
    margin:0;
    font-size:15px;
    letter-spacing:2px;
}

.footer-text{
    font-size:16px;
    line-height:1.8;
    margin-bottom:25px;
}

.footer-box h3{
    font-size:26px;
    margin-bottom:20px;
    color:#1b5e20;
}

.footer-box ul{
    list-style:none;
    padding:0;
    margin:0;
}

.footer-box ul li{
    margin-bottom:14px;
}

.footer-box ul li a{
    text-decoration:none;
    color:#222;
    transition:.3s;
}

.footer-box ul li a:hover{
    color:#2e7d32;
    padding-left:8px;
}

.footer-box p{
    font-size:16px;
    line-height:1.8;
    margin:8px 0;
}

.footer-box i{
    color:#2e7d32;
    width:20px;
}

.footer-box input{
    width:300px;
    padding:14px;
    margin-top:10px;
    border:none;
    border-radius:6px;
    font-size:16px;
}

.footer-box button{
    width:140px;
    margin-top:15px;
    padding:12px;
    background:#2e7d32;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

.footer-box button:hover{
    background:#1b5e20;
}

.social-icons{
    display:flex;
    gap:15px;
    margin-top:10px;
}

.social-icons a{
    width:45px;
    height:45px;
    border-radius:50%;
    background:white;
    color:#2e7d32;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

.social-icons a:hover{
    background:#2e7d32;
    color:white;
}

.footer hr{
    margin-top:50px;
    border:none;
    border-top:1px solid rgba(0,0,0,.2);
}

.footer-bottom{
    text-align:center;
    padding:20px;
    font-size:15px;
}